option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NODE_ENV: production
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

commands:
  01_migrate:
    command: "cd server && npm run db:migrate"
    ignoreErrors: false
  02_import_data:
    command: "cd server && node src/scripts/importVoterData.js"
    ignoreErrors: true
