option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

container_commands:
  01_migrate:
    command: "cd /var/app/current/server && npm run db:migrate"
    leader_only: true
    ignoreErrors: true
  02_import_data:
    command: "cd /var/app/current/server && node src/scripts/importVoterData.js"
    leader_only: true
    ignoreErrors: true
